/* 
   extra small device
   portrait phone (<544px)
*/
@media only screen and (max-width: 543px) {

    .outline-title h2 {
        text-align: center;
    }

    h2.text-white {
        font-size: 25px;
    }

}

/* 
   Small devices
   Landscape phones (≥544px - <768px)
*/
@media only screen and (min-width:544px) and (max-width: 767px) {

    .course-outline {
        width: 100%;
    }

    .outline-title h2 {
        text-align: center;
    }


}

/* 
   Medium devices 
   Tablets (≥768px - <992px)
*/
@media only screen and (min-width:768px) and (max-width: 991px) {}

/* 
   Large devices 
   Desktops (≥992px - <1201px)
*/
@media only screen and (min-width:992px) and (max-width: 1200px) {}



/* for nav menu styling */
@media only screen and (max-width:991px) {

    /*nav*/
    ul.menu {
        margin-top: 15px;
        box-shadow: 0 2px 8px 2px #ccc;
    }

    ul.navbar-nav.ml-auto.menu li {
        padding: 0;
        line-height: 100%;
        display: inline-block;
    }

    ul.navbar-nav.ml-auto.menu li a {
        padding: 10px !important;
        display: block;
        color: #000;
        transition: .3s;
    }

    ul.navbar-nav.ml-auto.menu li:hover>a {
        background: #8CC63F;
        color: #fff;
    }
}

@media only screen and (max-width:767px) {
    .course-info {
        padding: 30px 0;
    }

    #first {
        order: 1;
    }

    #second {
        order: 2;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {

    .course-info.pl-60,
    .course-info.pr-60 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .course-info-details h2 {
        font-size: 23px;
    }
}

/* contact us */
@media only screen and (min-width:0px) and (max-width:400px) {
    .contact-addr {
        padding: 40px;
    }

    .joining-form form .form-group input {
        font-size: 14px;
    }

    .banner-image a img {
        height: 150px;
    }

    .outline-para p {
        padding: 35px 18px;
        font-size: 14px;
    }


}

@media only screen and (min-width:401px) and (max-width:600px) {}

@media only screen and (min-width:601px) and (max-width:767px) {}